<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
</head>
<body>

<h1>Customer List</h1>


<table border="1">
    <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Region</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>

    {% for c in customers %}
    <tr>
        <td>{{ c[0] }}</td>
        <td>{{ c[1] }}</td>
        <td>{{ c[2] }}</td>
        <td>{{ c[3] }}</td>
        <td>{{ c[4] }}</td>
        <td>{{ c[5] }}</td>
        <td>
            <a href="/edit/{{ c[0] }}">
                <button type="button">Edit</button>
            </a>

            <a href="/delete/{{ c[0] }}">
                <button type="button">Delete</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="/">
    <button type="button">Add New Customer</button>
</a>

</body>
</html>